<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello {{loggedUser.name}}
    </ion-title>
    <ion-button slot="end" (click)="logout()" >Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="ready">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of users" button="true" detail="true" (click)="startChat(user)" >
      <h1>{{user.name}}</h1>
    </ion-item>
  </ion-list>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
