.chat-messages {
    border: 1px solid black;
    height: 70%;
    overflow: scroll;
}

p {
    display: inline-block;
}

.align-message-right {
    justify-content: end;
}


.align-message-left {
    justify-content: start;
}

.effect {
    padding: 5px 15px 5px 15px;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 6px 4px 30px 0px rgba(145,145,145,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 6px 4px 30px 0px rgba(145,145,145,0);
    border: 1px solid #289FED;
}